<!--
<form method="post" action="/posts/<%=@post.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label> Name </label><input type="text" value="<%=@post.name%>" name="name">
  <label>Contents</label><input type="text" value="<%=@post.content%>" name="content">
  <button type="submit" name="submit">Submit</button>
</form> -->


<form method="post" action="/posts/<%=@post.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name<input type="text" value="<%=@post.name%>" name="name">
  Contents<input type="text" value="<%=@post.content%>" name="content">
  <input type="submit" value="submit">
</form>
